#stc-h3 {
  font-size: 18px;
}

#stc-qotd {
  text-align: center;
  padding-top: 10px;
  font-weight: normal;
  color: #66757F;
}

#stc-room {
  height: 300px;
  width: 258px;
  overflow-y: scroll;
  overflow-x: hidden;
}

#stc-online-list {
  display: none;
  position: absolute;
  background: #2A2F32;
  color: #eee;
  padding: 0;
  text-align: center;
  border-radius: 5px;
}

#stc-online-list li {
  padding: 3px 6px;
  list-style-type: none;
}

#stc-online-label {
  position: relative;
}

#stc-online-label:hover #stc-online-list {
  display: block;
  cursor: default;
}

#stc-room .stc-message-text {
  padding: 3px;
  max-width: 210px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}

.stc-message {
  border-top: 5px solid #fff;
}

.stc-avatar {
  width: 30px;
  vertical-align: top;
}

.stc-avatar-img {
  width: 25px;
  height: 25px;
  border-radius: 5px;
}

#stc-new-message {
  width: 96%;
}
